@import url(https://fonts.googleapis.com/css2?family=Anton&family=Kanit&family=Lobster&display=swap); 

@import url("components/container.css");

@import url("components/container.css");

@import url("components/avatar.css");

@import url("components/button.css");

@import url("components/banner.css");

@import url("components/card.css");

body {
	font-family: 'Kanit', sans-serif;
	font-size: 18px;
}

h1 {
	font-family: 'Lobster', cursive;
	font-weight: bold;
}

h2 {
	font-family: 'Anton', sans-serif;
}

a {
	text-decoration: none;
}

img {
	width: 150px;
	height: 150px;
	border-radius: 2%;  
}